server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/hieudoanthe/phenikaa-config-repo.git
          default-label: main
          search-paths:
            - thesis-service
            - user-service
            - academic-config-service
            - assign-service
            - communication-log-service
            - eval-service
            - group-service
            - profile-service
            - submission-service
            - auth-service

logging:
  level:
    org.springframework.cloud.config: DEBUG